lib-cov
*.seed
*.log
*.csv
*.out
*.pid
*.gz
*.swp

sftp-config.json

pids
logs
log
results
/build

npm-debug.log

jig/
scratch/
rwc

i18n/*.zip
ui/css/fonts

/licenses.json
libBarcodeScanner.*
/hardware/codebase/N7G1/node_modules/manatee/build
/hardware/codebase/aaeon/node_modules/manatee/build

# compiled dependencies
/node_modules
jasmine
istanbul

# OS files
.DS_Store

.idea

*.csv#

/device_config.json
/data
/coverage
/fonts
/certs

test/compliance/licenses

cli.txt
*~

.project
crowdin.yaml

ne*.txt

mock_data/compliance/NY_ID.png
node_modules_old/
.vagrant
hardware/binaries/
hardware/codebase/aaeon/node_modules
native_modules.tgz
ui/js/app.js
ui/js/app.js.map

result.jpg
