lib-cov
*.seed
*.log
*.csv
*.out
*.pid
*.gz

sftp-config.json

pids
logs
log
results
/build

npm-debug.log

jig/
scratch/
rwc

i18n/*.zip
ui/css/fonts

/licenses.json
libBarcodeScanner.*
/hardware/codebase/N7G1/node_modules/manatee/build
/hardware/codebase/aaeon/node_modules/manatee/build

# compiled dependencies
/node_modules

# OS files
.DS_Store

*.csv#

/device_config.json
/data/client.key
/data/client.pem
/data/connection_info.json

test/compliance/licenses

cli.txt
*~

