lib-cov
*.seed
*.log
*.csv
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

jig/
scratch/
rwc

i18n/*.zip
ui/css/fonts

# compiled dependencies
/node_modules

# OS files
.DS_Store

*.csv#

/device_config.json
/data/client.key
/data/client.pem

test/compliance/licenses