KERNEL=="video[0-9]*", ATTR{index}=="0", ATTRS{idVendor}=="05a3", ATTRS{idProduct}=="8830", SYMLINK+="video-scan"
KERNEL=="video[0-9]*", ATTR{index}=="0", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9230", SYMLINK+="video-scan"
KERNEL=="video[0-9]*", ATTR{index}=="0", ATTRS{idVendor}=="090c", ATTRS{idProduct}=="f37d", SYMLINK+="video-front"
KERNEL=="video[0-9]*", ATTR{index}=="0", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", SYMLINK+="video-front"
KERNEL=="video[0-9]*", ATTR{index}=="0", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9520", SYMLINK+="video-front"
