/* Brandon Text [proprietary] */
@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_reg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_med-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_bld-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_blk-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
