/* Raanan [raanan] */

@font-face {
    font-family: 'raanan';
    src: url('fonts/raananlight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'raanan';
    src: url('fonts/raananregular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raanan';
    src: url('fonts/raananbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raanan';
    src: url('fonts/raananblack-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
