/* Source Han Sans CN [source-han-sans-cn] */
@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Semibold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Bold.otf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}
