/* Source Han Sans TWHK [source-han-sans-tw-hk] */
@font-face {
  font-family: 'Source Han Sans TWHK';
  src: url('fonts/SourceHanSansTWHK-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans TWHK';
  src: url('fonts/SourceHanSansTWHK-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans TWHK';
  src: url('fonts/SourceHanSansTWHK-Semibold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans TWHK';
  src: url('fonts/SourceHanSansTWHK-Bold.otf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Han Sans TWHK';
  src: url('fonts/SourceHanSansTWHK-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}

