/* Source Sans Pro [source-sans] */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Semibold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.ttf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
