/* Source Han Sans KR [source-han-sans-kr] */
@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Semibold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Bold.otf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}
