/* Source Code Pro [source-code-pro] */
@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Semibold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Bold.ttf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
