SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0826", SYMLINK+="video-scan"
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="0ac8", ATTRS{idProduct}=="3500", SYMLINK+="video-front"
