button {
  cursor: none;
}

@mixin button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

@mixin pill-button {
  @include button;
  padding: 0 2vw;
  height: 8vh;
  border-radius: 4vh;
}

@mixin pill-button-bg {
  @include button;
  padding: 0 2vw;
  height: 8vh;
  border-radius: 2vh;
}

@mixin round-button {
  @include button;
  width: 9vh;
  height: 9vh;
  border-radius: 5vh;
}

@mixin cash-colors {
  .cash-in-color &, .system-color & {
    color: $sapphire;
  }

  .cash-out-color & {
    color: $purple-grey;
  }
}

@mixin cash-disabled-colors {
  .cash-in-color &, .system-color & {
    color: $amazonite;
  }

  .cash-out-color & {
    color: $salmon;
  }
}

@mixin cash-background-colors {
  .cash-in-color &, .system-color & {
    background-color: $sapphire;
  }

  .cash-out-color & {
    background-color: $purple-grey;
  }
}

@mixin cash-disabled-background-colors {
  .cash-in-color &, .system-color & {
    background-color: $amazonite-two;
  }

  .cash-out-color & {
    background-color: $salmon-two;
  }
}

@mixin cash-borders {
  .cash-in-color &, .system-color & {
    border: 3px solid $sapphire;
  }

  .cash-out-color & {
    border: 3px solid $purple-grey;
  }
}

.cash-in-color #actions-scroll .round-progress-button {
  &:active svg path, .active svg path {
    fill: $sapphire;
  }
}

.cash-out-color #actions-scroll .round-progress-button {
  &:active svg path, .active svg path  {
    fill: $purple-grey;
  }
}

.round-progress-button {
  @include Tagline-2;
  @include round-button;
  @include cash-background-colors;
  &:active, .active {
    background-color: $white;
    @include cash-colors;
  }
  &:disabled {
    @include cash-disabled-background-colors;
  }
}

.progress-button {
  @include Tagline-2;
  @include cash-colors;
  @include pill-button;
  background-color: $white;
  &:active, .active {
    @include cash-background-colors;
    color: $white;
  }
  &:disabled {
    @include cash-disabled-background-colors;
    @include cash-disabled-colors;
  }
}

.filled-progress-button {
  @include Tagline-2;
  @include pill-button;
  @include cash-background-colors;
  color: $white;
  &:active, .active {
    background-color: $white;
    @include cash-colors;
  }
  &:disabled {
    @include cash-disabled-background-colors;
  }
}

.cash-in-color .filled-progress-button:disabled {
  color: $amazonite;
}

.cash-out-color .filled-progress-button:disabled {
  color: $salmon;
}


.filled-progress-button-bg {
  @include Tagline-2;
  @include pill-button-bg;
  @include cash-background-colors;
  color: $white;
  min-width: 4 * $spacer;
  &:active, .active {
    background-color: $white;
    @include cash-colors;
  }
}

.bordered-progress-button {
  @include Tagline-2;
  @include pill-button;
  @include cash-borders;
  @include cash-colors;
  background-color: transparent;
  &:active, .active {
    border-color: transparent;
  }
}

.circle-button {
  @include button;
  height: 40vh;
  width: 40vh;
  border-radius: 40vh;
  line-height: 6vh;
  background-color: $white;
  text-align: center;
}

.inner-circle-button {
  height: 36vh;
  width: 36vh;
  border-radius: 40vh;
  line-height: 6vh;
  background-color: $white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
}

.cash-in-color .inner-circle-button {
  color: $sapphire;
}

.cash-out-color .inner-circle-button {
  color: $purple-grey;
}

.cash-in-color .circle-button.active .inner-circle-button,
.cash-in-color .circle-button:active .inner-circle-button {
  background-color: $sapphire;
  color: $white;
}

.cash-in-color .circle-button.active,
.cash-in-color .circle-button:active {
  background-color: $sapphire;
  color: $white;
}

.cash-out-color .circle-button.active .inner-circle-button,
.cash-out-color .circle-button:active .inner-circle-button {
  background-color: $purple-grey;
  color: $white;
}

.cash-out-color .circle-button.active,
.cash-out-color .circle-button:active {
  background-color: $purple-grey;
  color: $white;
}

.cash-out-color .circle-button:disabled .inner-circle-button {
  background-color: $salmon-two;
  color: $salmon;
}

.cash-out-color .circle-button:disabled {
  background-color: $salmon-two;
  color: $salmon;
}

.action-button {
  @include button;
  padding: 0 2.5vw;
  height: 12vh;
  min-width: 5vw;
  background-color: #ffffff;
  border-radius: 3vh;
}

.cash-in-color .action-button.active,
.cash-in-color .action-button:active {
  background-color: $sapphire;
  color: $white;
}

.cash-out-color .action-button.active,
.cash-out-color .action-button:active {
  background-color: $purple-grey;
  color: $white;
}

.cash-out-color .action-button:disabled {
  background-color: $salmon-two;
  color: $salmon;
}

.filled-action-button {
  @include button;
  padding: 0 3vw;
  height: 12vh;
  min-width: 5vw;
  border-radius: 3vh;
}

.cash-in-color .filled-action-button, .system-color .filled-action-button {
  background-color: $sapphire;
  color: $white;
}

.cash-out-color .filled-action-button {
  background-color: $purple-grey;
  color: $white;
}

.cash-in-color .filled-action-button.active, .system-color .filled-action-button.active,
.cash-in-color .filled-action-button:active, .system-color .filled-action-button:active {
  background-color: $white;
  color: $sapphire;
}

.cash-out-color .filled-action-button.active,
.cash-out-color .filled-action-button:active {
  background-color: $white;
  color: $purple-grey;
}

.small-action-button {
  border: none;
  padding: 0 2.5vw;
  height: 8vh;
  min-width: 5vw;
  background-color: #ffffff;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  height: 12vh;
  width: 14vh;
  text-align: center;
  vertical-align: middle;
  line-height: 11vh;
}

.cash-in-color .key.active,
.cash-in-color .key:active {
  background-color: $amazonite-two;
}

.cash-out-color .key.active,
.cash-out-color .key:active {
  background-color: $salmon-two;
}

button div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer .filled-progress-button, footer .bordered-progress-button {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: -20px;
    right: -10px;
    left: -10px;
    bottom: -20px;
  }
}