/* Brandon Text [proprietary] */
@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_reg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_med-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_bld-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_text';
  src: url('fonts/brandon_txt_blk-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Noto Kufi Arabic [noto-kufi-arabic] */
@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('fonts/NotoKufiArabic-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('fonts/NotoKufiArabic-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

/* Source Code Pro [source-code-pro] */
@font-face {
  font-family: 'Source Code Pro';
  src: url('fonts/SourceCodePro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

/* Source Han Sans CN [source-han-sans-cn] */
@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Semibold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Bold.otf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Han Sans CN';
  src: url('fonts/SourceHanSansCN-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}

/* Source Han Sans JP [source-han-sans-jp] */
@font-face {
  font-family: 'Source Han Sans JP';
  src: url('fonts/SourceHanSansJP-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans JP';
  src: url('fonts/SourceHanSansJP-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans JP';
  src: url('fonts/SourceHanSansJP-Semibold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans JP';
  src: url('fonts/SourceHanSansJP-Bold.otf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Han Sans JP';
  src: url('fonts/SourceHanSansJP-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}

/* Source Han Sans KR [source-han-sans-kr] */
@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Semibold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Bold.otf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Han Sans KR';
  src: url('fonts/SourceHanSansKR-Heavy.otf');
  font-weight: 900;
  font-style: normal;
}

/* Source Sans Pro [source-sans] */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Semibold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.ttf');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
