@import "./variables.scss";
@import "./fonts.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./loading.scss";
@import "./text-content-sizes.scss";

body {
  user-select: none;
  overflow: hidden;
  direction: ltr;
  margin: 0;
  cursor: none;
}

#view {
  @include full-sized;
}

.viewport {
  @include full-sized;
  flex: 1;
  display: none;
  flex-direction: column;
}

.viewport-active {
  display: flex;
}

main {
  @include full-sized;
  display: flex;
}

.mainv {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.hide {
  display: none;
}

header {
  display: flex;
  padding: 6vh;
  min-height: 3vh;
}

.choose_coin_state header {
  justify-content: flex-end;
}

footer {
  display: flex;
  width: 100%;
}

.take-a-photo {
  flex-direction: column;
  align-items: center;
  min-height: 23vh;
}

.sapphire {
  color: $sapphire;
}

.purple-grey {
  color: $purple-grey;
}

.cash-in-color {
  background-color: $amazonite;
}

.system-color {
  background-color: $concrete;
  h2,
  h3 {
    color: $sapphire;
  }
}

.cash-out-color {
  background-color: $salmon;
}

.system-color {
  background-color: $concrete;
}

.system-color h3 {
  color: $sapphire;
}

.hidden {
  opacity: 0;
}

.crypto-rate {
  direction: ltr;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2vh;
}

.paper-wallet-header-message {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2vh;
  border-left: 2px solid $sapphire;
}

.mainv .actions .button-yes {
  margin-left: 2.5vw;
  margin-right: 2.4vw;
  border-radius: 4vh;
  padding: 2vh 3vh;
}

.mainv .actions .button-no {
  margin-left: 2.4vw;
  margin-right: 2.5vw;
  border-radius: 4vh;
  padding: 2vh 3vh;
}

.cash-out-color .mainv .actions .button-yes {
  border: 2px solid $purple-grey;
  background: $purple-grey;
  color: $white;
  @include Tagline-2
}

.cash-out-color .mainv .actions .button-no {
  border: 2px solid $purple-grey;
  color: $purple-grey;
  @include Tagline-2;
}

.cash-out-color .mainv .actions .button-yes:active,
.cash-out-color .mainv .actions .button-no:active {
  border: 2px solid $white;
  background: $white;
  color: $purple-grey;
  @include Tagline-2;
}

.cash-in-color .mainv .actions .button-yes {
  border: 2px solid $sapphire;
  background: $sapphire;
  color: $white;
  @include Tagline-2;
}

.cash-in-color .mainv .actions .button-no {
  border: 2px solid $sapphire;
  color: $sapphire;
  @include Tagline-2;
}

.cash-in-color .mainv .actions .button-yes:active,
.cash-in-color .mainv .actions .button-no:active {
  border: 2px solid $white;
  background: $white;
  color: $sapphire;
  @include Tagline-2;
}

.cash-in-color .contacts {
  background-color: $amazonite-two;
  .d2 {
    color: $white;
  }
  path, circle, rect {
    stroke: $white;
  }
}

.cash-out-color .contacts {
  background-color: $salmon-two;
  .d2 {
    color: $white;
  }
  path, circle, rect {
    stroke: $white;
  }
}

.contacts {
  white-space: nowrap;
  min-width: 41vw;
  background-color: $white;
  padding: 3vh;
  table {
    width: 100%;
  }
  td {
    padding: 1vh;
    img, svg {
      width: 2vw;
      margin-right: 1vw;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
  }
}

.contacts-compact {
  margin: 1.9vh 0;
}

.deposit_timeout_state img {
  width: 12.8vw;
}

.hard_limit_reached_state .mainv .header {
  margin-top: 15.5vh
}

.hard_limit_reached_state .mainv .header img {
  height: 21.2vh;
  padding-right: 1vw;
}

.hard_limit_reached_state .mainv .header h3 {
  margin-top: 5.9vh;
  margin-bottom: 0;
}

.hard_limit_reached_state .mainv .info {
  margin-top: 4.5vh;
}

.hard_limit_reached_state .mainv .info .d2 {
  margin-bottom: 0vh;
}

.hard_limit_reached_state .mainv .info .d2b {
  margin-top: 2vh;
  padding-left: 0.7vw;
}

.hard_limit_reached_state .mainv .actions {
  margin-top: 14vh;
  padding-right: 1.5vw;
}

.hard_limit_reached_state .mainv .actions .button-yes {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  margin-right: 1.2vw;
}

.out_of_cash_state .mainv .header {
  margin-top: 15vh;
}

.out_of_cash_state .mainv .header img {
  height: 22.1vh;
}

.out_of_cash_state .mainv .header h3 {
  margin-top: 6.5vh;
  margin-bottom: 0vh;
}

.out_of_cash_state .mainv .info {
  margin-top: 4.7vh;
  margin-bottom: 0vh;
}

.out_of_cash_state .mainv .info .d2 {
  margin: 0;
}

.out_of_cash_state .mainv .actions {
  margin-top: 19vh;
}

.out_of_cash_state .mainv .actions .button-yes {
  margin: 0;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.minimum_tx_state .mainv .header {
  margin-top: 18vh;
}

.minimum_tx_state .mainv .header img {
  width: 33.7vh;
}

.minimum_tx_state .mainv .header h2 {
  margin-top: 7.1vh;
  margin-bottom: 0;
  line-height: 1.33;
}

.minimum_tx_state .mainv .info .d1 {
  margin-top: 2.2vh;
  line-height: 1.25;
}

.pending_deposit_state .mainv .header {
  margin-top: 18vh;
}

.pending_deposit_state .mainv .header img {
  height: 22vh;
}

.pending_deposit_state .mainv .header h2 {
  margin-top: 7.2vh;
  margin-bottom: 0;
  line-height: 1.33;
}

.pending_deposit_state .mainv .info .tl2 {
  margin-top: 2.5vh;
  line-height: 1.25
}

.waiting_state, .cash_in_waiting_state {
  .mainv .header {
    margin-top: 36.6vh;
  }
}

.primary-side {
  flex: 0 0 52%;
  padding-left: 9.4vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.secondary-side {
  flex: 0 0 48%;
}

.with-image {
  display: flex;
  justify-content: center;
}

.primary-side-title {
  line-height: 9vh;
  margin-bottom: 5vh;
  margin-top: 4vh;
}

.dispense-bill-wrapper {
  margin-top: 9vh;
}

.dispense-bill-wrapper img {
  width: 31vw;
}

.camera {
  width: 5vh;
  margin-bottom: 2vh;
}

.scan-image {
  display: none;
  margin-left: 10vh;
  width: 48vh;
  margin-top: -3vh;
}

.only-sintra {
  margin-top: 1vh;
}

.sintra .only-sintra, .douro .only-douro, .gaia .only-gaia {
  display: block;
}

.cash-in-color .only-cash-out, .cash-out-color .only-cash-in {
  display: none;
}

.cancel-button-wrapper {
  margin-left: auto;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: -15px;
    right: -15px;
    left: -15px;
    bottom: -20px;
  }
}

.cancel-button {
  width: 3.5vh;
}

.goodbye_state {
  align-items: center;
  justify-content: center;
}

.goodbye_state h1 {
  margin-bottom: 15vh;
}

.crypto-address {
  margin-top: 1.4vh;
  line-height: 3vh;
  direction: ltr;
}

.crypto-address-no-br {
  direction: ltr;
}

.coins-to-address {
  margin-top: 8vh;
  margin-bottom: 0;
}

.insert-bill-wrapper img {
  margin-top: 7vh;
  width: 25vw;
}

.no-header {
  padding: 5vh 0;
}

.qr-secondary-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 40vh;
  margin-top: 4vh;
  border-radius: 2.5vh;
  background-color: $white;
}

.qr {
  width: 36vh;
  height: 36vh;
  box-shadow: $shadow;
}

.lightning-img {
  vertical-align: baseline;
  height: 2.5vh;
  margin-right: 1vh;
}

.xl-margin-top {
  margin-top: 10vh;
}

.lg-margin-top {
  margin-top: 8vh;
}

.md-margin-top {
  margin-top: 6vh;
}

.nm-margin-top {
  margin-top: 4vh;
}

.sm-margin-top {
  margin-top: 2vh;
}

.no-margin-top {
  margin-top: 0;
}

.nm-margin-bottom {
  margin-bottom: 4vh;
}

.sm-margin-bottom {
  margin-bottom: 2vh;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.xs-margin-bottom {
  margin-bottom: 1vh;
}

.row {
  display: flex;
}

.entry {
  padding: 2vh;
  min-height: 6vh;
}

.cash-in-color .phone-separator {
  border-bottom: 1px solid $amazonite-two;
  width: 34vh;
}

.cash-out-color .phone-separator {
  border-top: 1px solid $salmon-two;
  width: 34vh;
}

.progress-button-wrapper {
  width: 39vh;
}

#phone-keypad, #security-keypad {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4vh;
  margin-top: 3vh;
  .keys {
    width: 42vh;
  }
}

#phone-keypad .progress-button, #security-keypad .progress-button {
  float: right;
  margin-top: 5vh;
}

.backspace {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 3vh;
  }
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 2vh;
  }
}

.cash-button {
  margin: 2vh;
}

.cash-buttons {
  padding-left: 8vw;
  height: 51vh;
}

.cash-buttons .clear {
  margin-left: 8vh;
}

.choose_fiat_state .limit {
  margin-top: auto;
}

.choose_fiat_state ,.insert_more_bills_state {
  footer {
    width: auto;
  }
}

.choose-coin-cash-in .cash-out-box,
.choose-coin-cash-in .cash-out-box-wrapper,
.choose-coin-cash-in .coin-redeem,
.choose-coin-cash-in .two-way-bg,
.choose-coin-two-way .cash-in-bg
{
  display: none;
}

.cash-out-box-wrapper, .cash-in-box-wrapper {
  display: flex;
  width: 40vh;
  height: 40vh;
}

.cash-out-box, .cash-in-box {
  margin: auto;
}

.choose_coin_state header {
  min-height: 8vh;
  padding: 6vh;
}

.choose_coin_state footer {
  min-height: 19vh;
  padding: 6vh;
  box-sizing: border-box;
}


#language-overlay, #crypto-overlay {
  opacity: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.dropdown button:first-child {
  border-radius: 2vh 2vh 0 0;
  z-index: 0;
  position: relative;
}

.cash-in-color #languages button:first-child {
  color: rgba($sapphire, 0.5);
}

.cash-out-color #languages button:first-child {
  color: rgba($purple-grey, 0.5);
}

.dropdown button:last-child {
  border-radius: 0 0 2vh 2vh;
}

.dropdown button {
  align-items: flex-start;
}

.change-language {
  width: 24vh;
}

.change-language #language-dropdown-toggle {
  justify-content: flex-start;
}

.dropdown {
  position: absolute;
  width: inherit;
  z-index: 10;
  border-radius: 2vh;
  box-shadow: $shadow;
}

#cryptos {
  bottom: 5vh;
  margin-left: -3vh;
  button {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}

#cryptos button:last-child {
  color: rgba($sapphire, 0.5);
}

.reverse-dropdown {
  position: absolute;
  width: inherit;
  z-index: 10;
  border-radius: 2vh 2vh 0 0;
}

.dropdown button {
  border-radius: 0;
  width: 100%;
  flex-direction: column;
}

.dropdown button div {
  line-height: 1;
}

.dropdown button .english {
  font-size: 2vh;
}

.coin-redeem {
  margin-left: auto;
}

.crypto-buttons {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}

.crypto-buttons .choose-coin-button:first-child {
  padding-left: 1vh;
  &:after {
    position: absolute;
    content: '';
    top: -20px;
    right: 0;
    left: -20px;
    bottom: -20px;
  }
}

.choose-coin-button {
  padding: 0 4.5vh 0 4.5vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: -20px;
    right: -1px;
    left: -1px;
    bottom: -20px;
  }
}

.change-language .dropdown button {
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.choose-coin-cash-in .choose-coin-button {
  color: $sapphire;
}

.choose-coin-button svg {
  margin-top: -0.5vh;
  opacity: 0;
}

.choose-coin-button-active svg {
  opacity: 1;
}

.choose-coin-cash-in .choose-coin-button-active svg path {
  stroke: $sapphire;
}

.choose-coin-svg-wrapper {
  display: flex;
  justify-content: center;
}

.choose_coin_state main {
  justify-content: space-around;
  align-items: center;
}

.bg-image {
  position: fixed;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: -1;
}

.insert_more_bills_state footer {
  height: 39vh;
  margin-left: 15vh;
}

.insert_more_bills_state .primary-side-title {
  max-width: 80vh;
}

.insert_more_bills_state .secondary-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms_screen_state header {
  justify-content: center;
}

.terms_screen_state footer {
  justify-content: center;
  height: 18vh;
  margin-top: 8vh;
}

.terms_screen_state main {
  justify-content: center;
  flex: 1;
  overflow: hidden;
}

.terms_screen_state button {
  margin: 0 3vh;
}

.js-terms-text-div {
  width: 60vw;
  margin-left: 8vh;
  overflow: hidden;
}

.js-terms-text p {
  margin-top: 0;
}

#actions-scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 8vh;
  margin-left: 6vh;
  margin-top: 6vh;
  p {
    margin: 4vh 0;
  }
}

.up-arrow-svg, .down-arrow-svg {
  fill: $white;
}

.cash-in-color .round-progress-button:disabled .up-arrow-svg, .cash-in-color .round-progress-button:disabled .down-arrow-svg {
  fill: $amazonite;
}

.cash-out-color .round-progress-button:disabled .up-arrow-svg, .cash-out-color .round-progress-button:disabled .down-arrow-svg {
  fill: $salmon;
}

.or {
  position: fixed;
  margin-top: 4vh;
  left: 0;
  right: 0;
  text-align: center;
}

.restart_state {
  main {
    align-content: center;
    justify-content: center;
  }
  .img {
    width: 44vw;
  }
}

.info {
  text-align: center;
  align-items: center;
  header {
    padding: 0;
    height: 37vh;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  main {
    height: auto;
    min-height: 37vh;
    align-items: center;
    flex-direction: column;
    .text-content {
      text-align: left;
      p {
        margin: 1vh 0;
      }
      // TODO get rid of this
      .no-margin-bottom {
        margin-bottom: 0;
      }
      .sm-margin-bottom {
        margin-bottom: 2vh;
      }
      .no-margin-top {
        margin-top: 0;
      }
    }
  }
  footer {
    justify-content: center;
    button {
      margin: 0 3vh;
    }
  }
  .tl2 {
    line-height: 1.4;
  }
}

.no-action-info {
  @extend .info;
  main {
    margin-top: 2vh;
  }
  header {
    height: 40vh;
  }
}

.info-with-contact {
  @extend .info;
  header {
    height: 36vh;
  }
  main {
    min-height: 38vh;
  }
}

.info-no-image {
  @extend .info;
  header {
    height: 14vh;
  }
  main {
    min-height: 60vh;
  }
}

.choose_fiat_state, .insert_more_bills_state {
  .inner-circle-button span {
    padding: 0 6vh;
  }
}

.unconfirmed_deposit_state,
.high_bill_state,
.limit_reached_state,
.invalid_address_state,
.unknown_phone_number_state,
.tx_not_seen_state {
  img {
    width: 24vh;
  }
}

.redeem_later_state {
  img {
    width: 24.5vh;
  }
}

.invalid_address_state {
  img {
    width: 22vh;
  }
}

.max_phone_retries_state, .bad_phone_number_state {
  header img {
    width: 21vh;
    margin-left: 5vh;
  }
}

.locked_state,
.maintenance_state {
  img {
    width: 19vh;
  }
}

.virgin_state {
  img {
    width: 17vh;
  }
}

.restart_state {
  img {
    width: 70vh;
  }
}

.facephoto_failed_state {
  img {
    width: 26vh;
    margin-left: 1vh;
  }
}

.facephoto_permission_state {
  img {
    width: 25vh;
  }
}

.facephoto_state {
  img {
    width: 3vh;
    margin-bottom: 33vh;
  }
}

.facephoto_retry_state {
  img {
    width: 6vh;
    margin-bottom: 23vh;
  }
}

.id_verification_state {
  img {
    width: 33vh;
  }
}

.sms_verification_state {
  main {
    text-align: left;
  }
  img {
    width: 21vh;
    margin-left: 4vh;
  }
}

.printer_scanning_error_state {
  img {
    width: 24vh;
    margin-left: 7vh;
  }
}

.deposit_network_down_state,
.connect_ethernet_state,
.trouble_state {
  img {
    width: 33vh;
  }
}

.id_code_failed_state,
.photo_scan_failed_state,
.wrong_dispenser_currency_state,
.id_scan_failed_state,
.suspicious_address_state,
.id_verification_error_state,
.fiat_transaction_error_state {
  img {
    width: 28vh;
  }
}

.bad_security_code_state {
  img {
    width: 26vh;
  }
}

.error {
  padding: 2vh;
  width: 60%;
  background-color: $white;
  margin-bottom: 4vh;
}

#wifi-keyboard {
  box-sizing: border-box;
  width: 100%;
  #wifiPassCancel {
    display: flex;
    margin: 6vh 6vh -4vh 0;
    justify-content: flex-end;
  }
  .pass-top {
    display: flex;
    flex-direction: column;
  }
  .passphrase {
    border: none;
    text-align: center;
    color: $white;
    background-color: $sapphire;
    margin-left: 28vw;
  }
  .connect-wrapper {
    display: flex;
    justify-content: center;
  }
  .backspace {
    font-size: 6vh;
    margin: 0 1vh;
  }
  .row {
    justify-content: center;
  }
  .key {
    box-sizing: border-box;
    border: 1px solid;
    margin: 0.3vh;
    &:active {
      border: none;
    }
  }
  .special {
    width: 19vh;
  }
  .space {
    width: 91vh;
  }
  .entry {
    display: flex;
    padding: 0 2vh 6vh;
  }
}

#networks {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ssid {
    margin: auto;
  }
  .wifiicon-wrapper {
    min-width: 6vh;
    height: 10vh;
    display: flex;
  }
  img {
    margin: auto;
    width: 6vh;
  }
  .filled-action-button {
    width: 40vh;
    height: 10vh;
    margin: 1vh;
  }
}

.wifi-network-button .bar1 {
  background-image: url('images/wifiicon/1.svg');
}

.wifi-network-button .bar2 {
  background-image: url('images/wifiicon/2.svg');
}

.wifi-network-button .bar3 {
  background-image: url('images/wifiicon/3.svg');
}

.wifi-network-button .bar4 {
  background-image: url('images/wifiicon/4.svg');
}

#metrics {
  font-size: 3vh;
  position: absolute;
  height: 18vh;
  width: 26vw;
  z-index: 10;
  background-color: red;
}

.keypad {
  direction: ltr;
}

.i18n-rtl {
  direction: rtl;
  .cancel-button-wrapper {
    margin-right: auto;
    margin-left: 0;
  }
  .primary-side {
    padding-left: 0;
    padding-right: 9.4vw;
  }
  .cash-buttons {
    padding-right: 8vw;
    padding-left: 0;
  }
  .contacts {
    td div svg {
      margin-left: 1.25vw;
      margin-right: 0;
    }
  }
  .info main .text-content {
    text-align: right;
  }
  .insert_more_bills_state footer {
    margin-right: 15vh;
    margin-left: 0;
  }
  #networks img {
    margin-right: 14vh;
    margin-left: 0;
  }
  .scan-image {
    margin-right: 10vh;
    margin-left: 0;
  }
  .crypto-rate {
    margin-left: auto;
    margin-right: 0;
  }
  .coin-redeem {
    margin-right: auto;
    margin-left: 0;
  }
  .crypto-address, .crypto-address-no-br{
    display: flex;
    justify-content: flex-end;
  }
}

.send-only-total {
  margin-bottom: 6vh;
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  min-width: 70vh;
}

.send_only_state .text-content {
  min-width: 72vh;
  max-width: 80vh;
}

.batch {
  min-height: 4vh;
  margin-bottom: 0;
}

.facephoto-please-look-text {
  max-width: 85vh;
}

.version-number {
  position: absolute;
  right: 4vh;
  bottom: 0;
}