.dispensing_collect_state,
.dispensing_state {
  .text-content {
    width: 44vh;
  }
}

.dispensing_partial_collect_state,
.insert_bills_state {
  .text-content {
    max-width: 57vh;
  }
}

.security_code_state {
  .text-content {
    max-width: 63vh;
  }
}

.facephoto_permission_state {
  .text-content {
    max-width: 65vh;
  }
}

.unconfirmed_deposit_state,
.invalid_address_state,
.bad_security_code_state {
  .text-content {
    max-width: 72vh;
  }
}

.unpaired_state,
.address_reuse_state,
.suspicious_address_state,
.max_phone_retries_state,
.sms_verification_state {
  .text-content {
    max-width: 75vh;
  }
}

.id_verification_state,
.bad_phone_number_state,
.printer_scanning_error_state,
.blocked_customer_state {
  .text-content {
    max-width: 78vh;
  }
}

.printer_error_state {
  .text-content {
    max-width: 79vh;
  }
}

.pre_receipt_state,
.unknown_phone_number_state {
  .text-content {
    max-width: 82vh;
  }
}

.are_you_sure_state,
.redeem_later_state,
.virgin_state {
  .text-content {
    max-width: 86vh;
  }
}

.tx_not_seen_state {
  .text-content {
    max-width: 92vh;
  }
}
