// We need to kill cyrillic from Museo so everything can work nicely 

/* Text styles */
// TODO line-height is not "responsive" right now
@mixin Heading {
  font-family: 'Mont Heavy', 'Rubik', 'Noto Sans CJK CS', 'Noto Sans CJK JP', 'Noto Sans CJK KR', 'Noto Sans CJK TC', 'Noto Kufi Arabic';
  .i28n-he & {
    font-family: 'Rubik', 'Mont Heavy', 'Noto Sans CJK CS', 'Noto Sans CJK JP', 'Noto Sans CJK KR', 'Noto Sans CJK TC', 'Noto Kufi Arabic';
  }
  color: $white;
  font-weight: 900;
}

@mixin Heading-1 {
  @include Heading;
  font-size: 12vh;
  line-height: 0.92;
}

@mixin Heading-2 {
  @include Heading;
  font-size: 8vh;
  line-height: 0.88;
}

@mixin Heading-3 {
  @include Heading;
  font-size: 6vh;
  line-height: 0.83;
}

@mixin Heading-4 {
  @include Heading;
  font-size: 3vh;
  line-height: 1.67;
}

@mixin Heading-5 {
  @include Heading;
  font-size: 5vh;
  line-height: 1.2;
}

@mixin Description {
  .museo & {
    font-family: 'MuseoSans', 'Rubik', 'Noto Sans CJK CS', 'Noto Sans CJK JP', 'Noto Sans CJK KR', 'Noto Sans CJK TC', 'Noto Sans Hebrew', 'Noto Kufi Arabic';
  }
  font-family: 'Rubik', 'MuseoSans', 'Noto Sans CJK CS', 'Noto Sans CJK JP', 'Noto Sans CJK KR', 'Noto Sans CJK TC', 'Noto Sans Hebrew', 'Noto Kufi Arabic';
}

@mixin Tagline-1 {
  @include Description;
  font-weight: 700;
  font-size: 5vh;
  line-height: 1.2;
}

@mixin Tagline-2 {
  @include Description;
  font-weight: 700;
  font-size: 3vh;
  line-height: 0.8;
}

@mixin Description-1 {
  @include Description;
  font-weight: 500;
  font-size: 4vh;
  line-height: 1.25;
}

@mixin Description-2 {
  @include Description;
  font-weight: 500;
  font-size: 3vh;
  line-height: 1.33;
}

@mixin Mono-Text-1 {
  font-family: BPmono;
  font-size: 4vh;
  line-height: 1;
}

@mixin Mono-Text-2 {
  font-family: BPmono;
  font-size: 3vh;
  line-height: 1;
}

h1, .h1 {
  @include Heading-1;
}

h2, .h2 {
  @include Heading-2;
}

h3, .h3 {
  @include Heading-3;
}

h4, .h4 {
  @include Heading-4;
}

h5, .h5 {
  @include Heading-5;
}

.cash-in-color .tl1, .system-color .tl1 {
  @include Tagline-1;
  color: $sapphire;
}

.cash-out-color .tl1 {
  @include Tagline-1;
  color: $purple-grey;
}

.cash-in-color .tl2, .system-color .tl2 {
  @include Tagline-2;
  color: $sapphire;
}

.cash-out-color .tl2 {
  @include Tagline-2;
  color: $purple-grey;
}

.cash-in-color .d1, .system-color .d1 {
  @include Description-1;
  color: $sapphire;
}

.cash-out-color .d1 {
  @include Description-1;
  color: $purple-grey;
}

.cash-in-color .d2, .system-color .d2 {
  @include Description-2;
  color: $sapphire;
}

.cash-out-color .d2 {
  @include Description-2;
  color: $purple-grey;
}

.cash-in-color .d2b, .system-color .d2b {
  @include Tagline-2;
  color: $sapphire;
}

.cash-out-color .d2b {
  @include Tagline-2;
  color: $purple-grey;
}

.cash-in-color .m1, .system-color .m1 {
  @include Mono-Text-1;
  color: $sapphire;
}

.cash-out-color .m1 {
  @include Mono-Text-1;
  color: $purple-grey;
}

.cash-in-color .m2, .system-color .m2 {
  @include Mono-Text-2;
  color: $sapphire;
}

.cash-out-color .m2 {
  @include Mono-Text-2;
  color: $purple-grey;
}

.viewport .white {
  color: $white;
}
