/* Color palette */

/* amazonite */
$amazonite: #37e8d7;
$sapphire: #0e4160;
$amazonite-two: #2cb9ac;

/* salmon */
$salmon: #fe7f78;
$purple-grey: #403c51;
$salmon-two: #cb6560;

// neutral
$charcoal: #4a4a4a;
$concrete: #f2f2f2;
$white: #ffffff;

$border-color: #00000014;

// Typography
$font-secondary: 'MuseoSans', sans-serif;
$font-secondary-2: 'MuseoSans Bold', sans-serif;
$font-primary: 'Mont Heavy', sans-serif;

